.gjtj {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px 25px 0px;
}

.gjtj .sbgl_box {
    width: 50%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.gjtj .sbgl_box img {
    width: 98px;
    height: 65px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.alertable {
    /* width: 440px; */
    margin: 10px 8px
}

.gjtj .sbgl_box .sbgl_box_title {
    font-family: SimHei;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin-top: 10px;
}

.gjtj .sbgl_box .sbgl_box_text {

    background: linear-gradient(to bottom, #FFFFFF, #FDD26C);
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: baseline;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: bold;
    font-size: 24px;
}