.xbt {
    width: 100%;
    height: 32px;
    position: relative;
}

.xbt .xbt_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);
    color: #E9FBFF;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;
}

.xbt img {
    width: 95%;
    height: 32px;
}

.play-button {
    position: absolute;
    right: 15px;
    top: 5px;
    width: 20px;
    height: 20px;
    border: 2px solid #3782d8;
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.play-button:hover {
    transform: scale(1.4);
}

.play-icon {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #3782d8;
    margin-left: 3px;
}

.jcgw {
    background: url('@/assets/jcgw.png') no-repeat 0 0;
    background-size: 100% 100%;
    height: 80px;
    margin: 0px 12px 0px 5px;
    padding: 4px 9px;

    border-radius: 5px;

}

.jcgw span {
    font-size: 11px;
    color: #ACDAFF;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    line-height: 1.4;
    max-height: 78px;
}


.gwxx {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 8px;
    padding-bottom: 0px;

}



.gwxx .gwxx_box {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    font-size: 11px;
    line-height: 1.4;
}

.gwxx .gwxx_box .gwxx_label {
    color: #ffffff;
    white-space: nowrap;
    flex-shrink: 0;

}

.gwxx .gwxx_box .gwxx_text {
    color: #54B1FC;
    flex: 1;
    min-width: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    /* max-height: 2.8em; */
}

.changeLabelColor {
    font-family: Microsoft YaHei;
    font-weight: bold;
    font-size: 12px;
    color: #54B1FC;
    line-height: 61px;
    background: linear-gradient(0deg, #75D6FE 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jcnl {
    color: #AFD8FA;
    font-size: 11px;
    margin: 0px 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;

}


.sjtbs {
    margin: 15px 25px 10px 10px;
    font-family: Arial, sans-serif;
}

.sjtb {
    width: 251px;
    height: 4px;
    background: linear-gradient(89deg, #63A3FF, #B6DCFF, #72BEFF);
    margin-left: 20px;
    margin-bottom: 15px;
    position: relative;
}

.sjtb_icon1,
.sjtb_icon2,
.sjtb_icon3 {
    width: 12px;
    height: 12px;
    border: 1px solid;
    border-radius: 50%;
    position: absolute;
    top: -5px;
}

.sjtb_icon1 {
    left: -10px;
}

.sjtb_icon2 {
    left: 50%;
    transform: translateX(-50%);
}

.sjtb_icon3 {
    right: -10px;
}

.blue_icon {
    background: radial-gradient(circle, #0BBAFB, #4285EC);
    border-color: #89D8F9;
}

.red_icon {
    background: radial-gradient(circle, #FEDC45, #FB7099);
    border-color: #FCD279;
}

.sjtb_boxs {
    display: flex;
    justify-content: space-between;
}

.sjtb_boxs span {
    color: #97CDF8;
    font-size: 11px;
}

.tb_box {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}

.tb_box_label {
    display: flex;
    align-items: center;
}

.tb_box_label span {
    color: #97CDF8;
    font-size: 10px;
    margin-left: 5px;
    margin-right: 10px;
}


.right_Search {
    display: flex;
    margin: 10px 20px;
}

.right_Search .search_text {
    margin-left: 5px;
    color: #E6F2FF;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    width: 45px;
    background-color: #1F7BFD;
    border-radius: 4px;
    text-align: center;
}

.data-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px 0px 0px 8px;
}

.data-cards .data-card {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 8px;
}

.data-cards .data-card img {
    width: 37px;
    height: 38px;
    flex-shrink: 0;
    margin-right: 15px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card-content .card-value {
    font-family: Adobe Heiti Std R;

    line-height: 1.2;
    margin-bottom: 5px;
}

.card-content .card-value.total {
    font-family: MicrosoftYaHei-Bold;
    font-size: 16px;
    color: #FFC028;
    font-weight: bold;
}

.card-content .card-value.year {
    font-family: MicrosoftYaHei-Bold;
    font-size: 16px;
    color: #11EE83;
    font-weight: bold;
}

.card-content .card-value.month {
    font-family: MicrosoftYaHei-Bold;
    font-size: 16px;
    color: #0ADAFF;
    font-weight: bold;
}

.card-content .card-value.Day {
    font-family: MicrosoftYaHei-Bold;
    font-size: 16px;
    color: #1193EE;
    font-weight: bold;
}

.card-content .card-label {
    font-size: 9px;
    color: #fff;
    line-height: 1.3;
}

.cxsj {
    width: 280px;
    height: 60px;
    opacity: 0.73;
    padding: 15px;
    background-color: #003C6D;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 0px;
    margin-left: 5px;
}

.cxsj span {
    color: #ACD9FF;
    font-size: 16px;
    letter-spacing: 3px;

}

.gwxx .gwxx_box:first-child .gwxx_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    max-height: 1.4em;
}

.jcrw_list {
    margin: 0px 10px 8px 5px;
}

.jcrwright {
    background: url('@/assets/框.png') no-repeat 0 0;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 0px 2px 8px 8px;
    margin-bottom: 3px;

}

.jcrwright .jcrw_title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 5px 0px;
    padding: 5px;
    background: url('@/assets/小标题33.png') no-repeat 0 0;
    background-size: 100% 100%;
    position: relative;
}

.jcrwright .jcrw_title span {
    color: #E9FBFF;
    font-size: 12px;
    font-weight: bold;

}

.jcrw_title_num {

    max-width: 95px;
    color: #54B1FC !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;


}



.jcrws {
    background: url('@/assets/jcrws.png') no-repeat 0 0;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 5px 8px;
    border: 1px solid #1C70D7;
    border-radius: 5px;
}

.jcrws .jcrws_box {
    display: flex;
    align-items: flex-start;
    gap: 3px;
    font-size: 16px;
    line-height: 1.4;
    font-family: MicrosoftYaHei;
}

.jcrws .jcrws_box .jcrws_label {
    color: #E9FBFF;
    white-space: nowrap;
    flex-shrink: 0;
    font-weight: 400;

}

.jcrws .jcrws_box .jcrws_text {
    color: #54B1FC;
    flex: 1;
    min-width: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    max-height: 2.8em;
}

.jcrws .jcrws_box:first-child .gwxx_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    max-height: 1.4em;
}

.changbigcolor {


    flex: 1;
    min-width: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    font-family: Microsoft YaHei;
    font-weight: bold;
    font-size: 16px;
    color: #FFC820;

    background: linear-gradient(0deg, #FFC40F 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.jcrws .changcolor {
    color: #FCB754;
}

.jcrws_bottom_text {
    font-family: Microsoft YaHei;
    font-weight: bold;
    font-size: 14px;
    color: #FCB754 !important;

}

.jcrws_bottom {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.jcrws_bottom_label {
    color: #E9FBFF;
    white-space: nowrap;
    flex-shrink: 0;
    font-weight: 400;

}

.jcrws_bottom_box {
    display: flex;
    align-items: center;
}

.jcrw_title_back {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 35px;
    height: 18px;
    background: linear-gradient(0deg, #015EEA, #00C0FA);
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: Microsoft YaHei;
    font-weight: 400;
    font-size: 11px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 33;

}

.jcrws_bottom_button {
    width: 53px;
    height: 18px;
    background: linear-gradient(0deg, #015EEA, #00C0FA);
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    color: #FFFFFF;
    font-family: Microsoft YaHei;
    font-weight: 400;
    font-size: 11px;
    margin-right: 5px;
    border-radius: 5px;
}

.jcrwright_box {
    margin: 5px 5px 5px 5px;
    position: relative;
}

.jcrwright .jcrws_box {
    display: flex;
    align-items: flex-start;
    gap: 1px;
    font-size: 12px;
    line-height: 1.8;
}

.jcrws_boxs {
    display: flex;
    align-items: flex-start;
    gap: 1px;
    font-size: 12px;
    line-height: 1.7;

}

.jcrwright .jcrws_boxs .jcrws_label {
    color: #E9FBFF;
    white-space: nowrap;
    flex-shrink: 0;
    font-weight: 500;
}

.jcrwright .jcrws_boxs .jcrws_text {
    color: #54B1FC;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* 单行省略号关键属性 */
    line-height: 1.6;


}

.jcrws_texts {
    color: #E9FBFF;
}

.jcrwright .jcrws_boxs:first-child .gwxx_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;

}

.jcrwright .jcrws_boxs .changcolor {
    color: #FCB754;
}


.jcrwright .jcrws_box .jcrws_label {
    color: #E9FBFF;
    white-space: nowrap;
    flex-shrink: 0;
    font-weight: 500;
}

.jcrwright .jcrws_box .jcrws_text {
    color: #54B1FC;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* 单行省略号关键属性 */
    line-height: 1.8;
}

.jcrwright .jcrws_box:first-child .gwxx_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    max-height: 1.4em;
}

.jcrwright .jcrws_box .changcolor {
    color: #FCB754;
}

.jcrwrightm {
    background: url('@/assets/框.png') no-repeat 0 0;
    background-size: 100% 100%;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
    padding: 0px 5px;
    border-radius: 5px;
    margin: 10px 0px;
}

.jcrwrightm .jcleft {
    padding: 5px 5px 5px 5px;
}

.jcrwrightm .jcrws_box {
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    line-height: 1.4;
}

.jcrwrightm .jcrws_box .label_width {
    display: flex;
    width: 180px;
}

.jcrwrightm .jcrws_box .jcrws_label {
    color: #E9FBFF;
    white-space: nowrap;
    flex-shrink: 0;
    font-weight: 500;
}

.jcrwrightm .jcrws_box .jcrws_text {
    color: #54B1FC;
    min-width: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    max-height: 2.8em;
}

.jcrwrightm .jcrws_box:first-child .gwxx_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    max-height: 1.4em;
}

.jcrwrightm .jclebm {
    width: 80px;
    height: 72px;
    position: relative;
}

.jcrwrightm .jclebm img {
    width: 100%;
}

.jcrwrightm .jclebm .jctext {
    position: absolute;
    font-family: "Microsoft YaHei Bold", "Microsoft YaHei", sans-serif;
    font-weight: bold;
    font-size: 18px;
    top: 0px;
    left: 10px;
}

.jcrwrightm .jclebm .jctext-yellow {
    background: linear-gradient(to bottom, #F7CB6B, #FBA980);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.jcrwrightm .jclebm .jctext-blue {
    background: linear-gradient(to bottom, #63A3FF, #B6DCFF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.jcrwrightm .jclebm .jctext-green {
    background: linear-gradient(to bottom, #19FFF4, #AEFFAE);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}





.jcrw {
    display: flex;
    cursor: pointer;
    margin: 0px 10px 8px 10px;
    justify-content: space-between;

}

.jcrw .jcrw_box_li {
    position: relative;
}

.jcrw .jcrw_box_li img {
    width: 100%;
    height: 35px;
}

.jcrw .jcrw_box_li .jcrw_box_text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    color: #C1E6FC;
}





.blue_icon_small {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: radial-gradient(circle, #0BBAFB, #4285EC);
    border: 1px solid #89D8F9;
}

.red_icon_small {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: radial-gradient(circle, #FEDC45, #FB7099);
    border: 1px solid #FCD279;
}

.controls {
    display: flex;
}

button {
    padding: 8px 16px;
    background: #4285EC;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background: #3367D6;
}


.progress-container {
    width: 90px;
    height: 5px;
    background-color: #1C71B4;
    border-radius: 3px;
    overflow: hidden;
    margin: 0px 10px;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(90deg, #96FFBA, #6fd88a);
    border-radius: 3px;
    width: 50%;
    transition: width 0.5s ease;
}